<mat-horizontal-stepper labelPosition="bottom" linear="true">
  <mat-step [stepControl]="stepOneFormGroup">
    <form [formGroup]="stepOneFormGroup" class="step-form">
      <ng-template matStepLabel>Step 1</ng-template>
      <mat-form-field class="full-width">
        <input formControlName="email" matInput placeholder="Email" required>
        <mat-error *ngIf="emailControl.hasError('required')">You must enter a value</mat-error>
        <mat-error *ngIf="emailControl.hasError('emailTaken')">Email is taken</mat-error>
        <mat-error *ngIf="emailControl.hasError('email')">Not a valid email</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input [type]="hidePassword ? 'password' : 'text'"
               formControlName="password"
               matInput
               placeholder="Enter your password"
               required>
        <button (click)="hidePassword = !hidePassword"
                mat-icon-button
                matSuffix>
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl.hasError('required')">You must enter a value</mat-error>
        <mat-error *ngIf="passwordControl.hasError('pattern')">Password must contain min 1 digit and min 1 letter
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input [type]="hidePasswordConfirm ? 'password' : 'text'"
               formControlName="passwordConfirm"
               matInput
               placeholder="Confirm password"
               required>
        <button (click)="hidePasswordConfirm = !hidePasswordConfirm"
                mat-icon-button
                matSuffix>
          <mat-icon>{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordConfirmControl.hasError('passwordsAreNotEqual')">Confirm password must be the same
          with the
          password
        </mat-error>
        <mat-error *ngIf="passwordConfirmControl.hasError('required')">You must enter a value</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="agreement" hidden matInput>
        <mat-checkbox formControlName="agreement" required>Agree to work for food</mat-checkbox>
        <mat-error *ngIf="agreementControl.hasError('required')">You must agree</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Go to step 2</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="stepTwoFormGroup">
    <form [formGroup]="stepTwoFormGroup" class="step-form">
      <ng-template matStepLabel>Step 2</ng-template>
      <mat-form-field class="full-width">
        <mat-select [(ngModel)]="selectedCountry" formControlName="country">
          <mat-option *ngFor="let country of countries$ | async"
                      [value]="country.id">
            {{country.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="countryControl.hasError('required')">You must enter a value</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="selectedCountry" class="full-width">
        <mat-select formControlName="province">
          <mat-option *ngFor="let province of provinces$ | async"
                      [value]="province.id">
            {{province.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="provinceControl.hasError('required')">You must enter a value</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button (click)="submit()" mat-button matStepperNext>Save</button>
      </div>
    </form>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Done</ng-template>
    <div>{{message}}</div>
    <div *ngIf="details">{{details | json}}</div>
  </mat-step>
</mat-horizontal-stepper>
